<footer>
    <a href="{{@blog.url}}/rss/">
        {{t "Subscribe via RSS!"}}
      </a> {{#if @labs.subscribers}} {{subscribe_form placeholder=(t "youremail@example.com")}} {{/if}}
    <section>
        <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; {{t "All rights reserved."}}
    </section>
</footer>